html, body {
  height: 100%; }

@media screen and (min-width: 1025px) {
  #container {
    width: 100%;
    height: auto;
    position: relative;
    overflow-x: hidden;
    transition: all 0.7s; }
    #container * {
      font-family: "KoPubDotum"; }
    #container > #headBox {
      width: 100%;
      height: calc(20vh - 30px);
      padding: 30px 30px  0 30px;
      position: absolute;
      z-index: 500; }
      #container > #headBox > h1 {
        width: 80px;
        height: 80px;
        background-image: url(../img/logo.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        float: left;
        position: fixed; }
        #container > #headBox > h1 > a {
          width: 100%;
          height: 100%;
          display: block; }
          #container > #headBox > h1 > a > span {
            width: 0;
            height: 0;
            display: block;
            overflow: hidden; }
      #container > #headBox > .list {
        width: 80%;
        height: 10vh;
        float: left;
        transition: all 0.6s;
        text-align: center;
        margin-left: calc(50% - 30%); }
        #container > #headBox > .list > li {
          width: 13%;
          height: 6vh;
          float: left;
          margin: 0 auto;
          margin-left: 15%;
          margin-top: 1%; }
          #container > #headBox > .list > li:first-child {
            margin-left: 0; }
          #container > #headBox > .list > li:nth-child(1).on > a {
            color: #afd;
            text-shadow: 0 0 5px #5aac70; }
          #container > #headBox > .list > li:nth-child(2).on > a {
            color: #888;
            text-shadow: 0 0 5px #6dc; }
          #container > #headBox > .list > li:nth-child(3).on > a {
            color: #9fc;
            text-shadow: 0 0 5px #109CEB; }
          #container > #headBox > .list > li > a {
            width: 100%;
            height: 100%;
            text-decoration: none;
            display: block;
            font-size: 1.4rem;
            color: #aaa;
            font-weight: bold;
            text-align: center;
            line-height: 6vh; }
      #container > #headBox > .topt {
        width: 2rem;
        height: 2rem;
        top: 15%;
        position: fixed;
        right: 5%;
        z-index: 500; }
        #container > #headBox > .topt > .topBtn {
          width: 100%;
          height: 100%;
          display: block;
          background-color: transparent;
          background-image: url(../img/top_button.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
          transition: all 0.4s; }
          #container > #headBox > .topt > .topBtn > span {
            width: 0;
            height: 0;
            display: block;
            overflow: hidden; }
        #container > #headBox > .topt .top_add {
          animation: top_button 1.2s ease-in infinite alternate;
          text-align: center;
          color: #fff;
          transition: all 0.4s; }
  @keyframes top_button {
    0% {
      transform: translateY(0rem);
      opacity: 1; }
    100% {
      transform: translateY(1.5rem);
      opacity: 0.2; } }
      #container > #headBox > .menu_btn {
        width: 2rem;
        height: 2rem;
        background-color: transparent;
        margin-top: 1.5%;
        transition: all 0.4s;
        position: fixed;
        right: 5%; }
        #container > #headBox > .menu_btn > div {
          width: 100%;
          height: 15%;
          background-color: #fff;
          border-radius: 1rem;
          margin-bottom: 15%;
          transition: all 0.7s; }
          #container > #headBox > .menu_btn > div > span {
            width: 0;
            height: 0;
            display: block;
            overflow: hidden; }
          #container > #headBox > .menu_btn > div:last-child {
            margin-bottom: 0; }
        #container > #headBox > .menu_btn:hover {
          cursor: pointer; }
      #container > #headBox > .close_btn {
        right: calc(15vw + 1.5%);
        z-index: 1000; }
        #container > #headBox > .close_btn > div {
          position: absolute;
          top: 45%; }
          #container > #headBox > .close_btn > div:nth-child(1) {
            transform: rotate(45deg); }
          #container > #headBox > .close_btn > div:nth-child(2) {
            display: none; }
          #container > #headBox > .close_btn > div:nth-child(3) {
            transform: rotate(-45deg); }
      #container > #headBox > nav {
        width: 15vw;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -15vw;
        background-color: #bbb;
        display: block;
        transition: all 0.4s; }
        #container > #headBox > nav > .sns_icon {
          width: 170px;
          height: auto;
          margin-top: 6vh;
          margin-left: calc(50% - 85px); }
          #container > #headBox > nav > .sns_icon > li {
            float: left;
            width: 50px;
            height: 50px;
            margin-right: 10px;
            background-color: #fff; }
            #container > #headBox > nav > .sns_icon > li:last-child {
              margin-right: 0; }
            #container > #headBox > nav > .sns_icon > li:nth-child(1) > a {
              background-image: url(../img/facebook.png); }
            #container > #headBox > nav > .sns_icon > li:nth-child(2) > a {
              background-image: url(../img/instagram.png); }
            #container > #headBox > nav > .sns_icon > li:nth-child(3) > a {
              background-image: url(../img/line.png); }
            #container > #headBox > nav > .sns_icon > li > a {
              width: 100%;
              height: 100%;
              background-repeat: no-repeat;
              background-position: center center;
              display: block;
              background-size: cover; }
              #container > #headBox > nav > .sns_icon > li > a > span {
                width: 0;
                height: 0;
                display: block;
                overflow: hidden; }
        #container > #headBox > nav > .menu {
          width: 100%;
          height: auto;
          margin-top: 9.5em;
          position: absolute; }
          #container > #headBox > nav > .menu > li {
            width: 100%;
            text-align: center; }
            #container > #headBox > nav > .menu > li > a {
              font-size: 1.5rem;
              text-decoration: none;
              font-weight: lighter;
              color: #fff;
              line-height: 3.2rem; }
      #container > #headBox .nav_add {
        right: 0 !important;
        z-index: 1000 !important; }
      #container > #headBox #bg {
        position: fixed; }
        #container > #headBox #bg > span {
          width: 0;
          height: 0;
          display: block;
          overflow: hidden; }
      #container > #headBox .bg_op {
        width: 100vw;
        height: 100vh;
        background-color: rgba(100, 100, 100, 0.7);
        position: absolute;
        right: 0%;
        top: 0;
        display: block !important;
        z-index: 400 !important; }
      #container > #headBox > #slider_box {
        width: 170px;
        height: 50px;
        background-image: url(../img/slider_arrow.png);
        background-position: center bottom;
        background-size: 170%;
        position: fixed;
        bottom: 3%;
        z-index: 400;
        left: calc(50% - 75px);
        background-repeat: no-repeat;
        animation: down_slider 1.2s ease-out infinite;
        text-align: center;
        color: #333;
        transition: all 0.7s; }
  @keyframes down_slider {
    0% {
      transform: translateY(-1rem);
      opacity: 0.2; }
    100% {
      transform: translateY(1rem);
      opacity: .7; } }
    #container > #conBox {
      width: 300%;
      margin-left: -100%;
      overflow-x: hidden;
      overflow-y: hidden; }
      #container > #conBox > div {
        width: calc(100% / 3);
        height: auto;
        float: left; }
        #container > #conBox > div > div {
          width: 100%;
          height: auto; }
          #container > #conBox > div > div > section {
            width: 100vw;
            height: 250vh;
            position: relative; }
            #container > #conBox > div > div > section > .atc_02 > h2 {
              width: auto;
              height: auto;
              font-size: 5.2rem;
              display: block;
              position: absolute; }
      #container > #conBox > .container_01 {
        background-color: #9999af;
        background-image: url(../img/wavecut.png);
        background-blend-mode: multiply;
        background-repeat: repeat; }
        #container > #conBox > .container_01 > div > section {
          width: 100vw;
          height: 250vh;
          position: relative; }
          #container > #conBox > .container_01 > div > section > .atc_01 {
            width: 60vw;
            height: 70vh;
            position: absolute;
            top: 20%; }
            #container > #conBox > .container_01 > div > section > .atc_01 > .img {
              width: 100%;
              height: 100%;
              background-attachment: fixed;
              background-size: 60%;
              background-repeat: no-repeat;
              background-position: left center; }
          #container > #conBox > .container_01 > div > section > .atc_02 {
            width: 30vw;
            height: 100%;
            position: absolute;
            top: 20%;
            z-index: 50; }
            #container > #conBox > .container_01 > div > section > .atc_02 > h3 {
              width: auto;
              height: auto;
              position: absolute;
              display: block;
              font-size: 3.2rem; }
            #container > #conBox > .container_01 > div > section > .atc_02 > p {
              width: 13vw;
              height: auto;
              position: absolute;
              line-height: 2.8rem;
              font-size: 1.2rem;
              padding: 20% 5%;
              font-weight: bold;
              border: 13px solid #109CEB; }
        #container > #conBox > .container_01 > div > .sc_01 {
          height: 150vh; }
          #container > #conBox > .container_01 > div > .sc_01 > .atc_01 {
            top: 8%;
            left: calc(50% - 30vw); }
            #container > #conBox > .container_01 > div > .sc_01 > .atc_01 > .img_01_01 {
              background-image: url(../img/sc_01_01.PNG);
              background-position: center 45%; }
            #container > #conBox > .container_01 > div > .sc_01 > .atc_01 > .img_01_02 {
              background-image: url(../img/sc_01_02.jpg);
              background-position: center 45%; }
          #container > #conBox > .container_01 > div > .sc_01 > .atc_02 {
            width: 100%;
            height: 100%;
            background-color: transparent;
            top: 0; }
            #container > #conBox > .container_01 > div > .sc_01 > .atc_02 > h2 {
              height: 80px;
              right: 10%;
              top: 47%;
              color: #fff; }
            #container > #conBox > .container_01 > div > .sc_01 > .atc_02 > h3 {
              right: 10%;
              top: 42%;
              background-color: rgba(204, 204, 204, 0.6); }
              #container > #conBox > .container_01 > div > .sc_01 > .atc_02 > h3 > a {
                text-decoration: none;
                color: #fff; }
            #container > #conBox > .container_01 > div > .sc_01 > .atc_02 > p {
              padding: 7% 1.5%; }
              #container > #conBox > .container_01 > div > .sc_01 > .atc_02 > p:nth-of-type(1) {
                right: 13%;
                top: 55%; }
              #container > #conBox > .container_01 > div > .sc_01 > .atc_02 > p:nth-of-type(2) {
                right: 38%;
                top: 90%; }
        #container > #conBox > .container_01 > div > .sc_02 > .atc_01 {
          left: 0; }
          #container > #conBox > .container_01 > div > .sc_02 > .atc_01 > .img_02_01 {
            background-image: url(../img/sc_02_01.PNG); }
          #container > #conBox > .container_01 > div > .sc_02 > .atc_01 > .img_02_02 {
            background-image: url(../img/sc_02_02.PNG); }
          #container > #conBox > .container_01 > div > .sc_02 > .atc_01 > .img_02_03 {
            background-image: url(../img/sc_02_03.PNG); }
        #container > #conBox > .container_01 > div > .sc_02 > .atc_02 {
          right: 5%; }
          #container > #conBox > .container_01 > div > .sc_02 > .atc_02 > h3 {
            top: 3%; }
          #container > #conBox > .container_01 > div > .sc_02 > .atc_02 > p:nth-of-type(1) {
            top: 25%;
            left: 45%; }
          #container > #conBox > .container_01 > div > .sc_02 > .atc_02 > p:nth-of-type(2) {
            top: 60%;
            left: 10%; }
        #container > #conBox > .container_01 > div > .sc_03 > .atc_01 {
          right: 0; }
          #container > #conBox > .container_01 > div > .sc_03 > .atc_01 > .img_03_01 {
            background-image: url(../img/sc_03_01.PNG);
            background-position: center right; }
          #container > #conBox > .container_01 > div > .sc_03 > .atc_01 > .img_03_02 {
            background-image: url(../img/sc_03_02.PNG);
            background-position: center right; }
          #container > #conBox > .container_01 > div > .sc_03 > .atc_01 > .img_03_03 {
            background-image: url(../img/sc_03_03.PNG);
            background-position: center right; }
        #container > #conBox > .container_01 > div > .sc_03 > .atc_02 {
          left: 5%; }
          #container > #conBox > .container_01 > div > .sc_03 > .atc_02 > h3 {
            top: 3%;
            right: 0; }
          #container > #conBox > .container_01 > div > .sc_03 > .atc_02 > p:nth-of-type(1) {
            top: 17%; }
          #container > #conBox > .container_01 > div > .sc_03 > .atc_02 > p:nth-of-type(2) {
            top: 57%;
            left: 15%; }
        #container > #conBox > .container_01 > div > .sc_04 > .atc_01 {
          left: 0; }
          #container > #conBox > .container_01 > div > .sc_04 > .atc_01 > .img_04_01 {
            background-image: url(../img/sc_04_01.PNG); }
          #container > #conBox > .container_01 > div > .sc_04 > .atc_01 > .img_04_02 {
            background-image: url(../img/sc_04_02.PNG); }
          #container > #conBox > .container_01 > div > .sc_04 > .atc_01 > .img_04_03 {
            background-image: url(../img/sc_04_03.PNG); }
        #container > #conBox > .container_01 > div > .sc_04 > .atc_02 {
          right: 5%; }
          #container > #conBox > .container_01 > div > .sc_04 > .atc_02 > h3 {
            top: 3%; }
          #container > #conBox > .container_01 > div > .sc_04 > .atc_02 > p:nth-of-type(1) {
            top: 20%;
            left: 20%; }
          #container > #conBox > .container_01 > div > .sc_04 > .atc_02 > p:nth-of-type(2) {
            top: 50%;
            left: 50%; }
        #container > #conBox > .container_01 > div > .sc_05 > .atc_01 {
          right: 0; }
          #container > #conBox > .container_01 > div > .sc_05 > .atc_01 > .img_05_01 {
            background-image: url(../img/sc_05_01.PNG);
            background-position: center right; }
          #container > #conBox > .container_01 > div > .sc_05 > .atc_01 > .img_05_02 {
            background-image: url(../img/sc_05_02.PNG);
            background-position: center right; }
          #container > #conBox > .container_01 > div > .sc_05 > .atc_01 > .img_05_03 {
            background-image: url(../img/sc_05_03.PNG);
            background-position: center right; }
        #container > #conBox > .container_01 > div > .sc_05 > .atc_02 {
          left: 5%; }
          #container > #conBox > .container_01 > div > .sc_05 > .atc_02 > h3 {
            top: 3%;
            left: 10%; }
          #container > #conBox > .container_01 > div > .sc_05 > .atc_02 > p:nth-of-type(1) {
            top: 25%;
            right: 7%; }
          #container > #conBox > .container_01 > div > .sc_05 > .atc_02 > p:nth-of-type(2) {
            top: 57%;
            right: 25%; }
        #container > #conBox > .container_01 > div > .sc_06 {
          height: 280vh; }
          #container > #conBox > .container_01 > div > .sc_06 > .atc_01 {
            left: 0; }
            #container > #conBox > .container_01 > div > .sc_06 > .atc_01 > .img_06_01 {
              background-image: url(../img/sc_06_01.PNG); }
            #container > #conBox > .container_01 > div > .sc_06 > .atc_01 > .img_06_02 {
              background-image: url(../img/sc_06_02.PNG); }
            #container > #conBox > .container_01 > div > .sc_06 > .atc_01 > .img_06_03 {
              background-image: url(../img/sc_06_03.PNG); }
          #container > #conBox > .container_01 > div > .sc_06 > .atc_02 {
            right: 5%; }
            #container > #conBox > .container_01 > div > .sc_06 > .atc_02 > h3 {
              top: 3%; }
            #container > #conBox > .container_01 > div > .sc_06 > .atc_02 > p:nth-of-type(1) {
              top: 25%;
              right: 7%; }
            #container > #conBox > .container_01 > div > .sc_06 > .atc_02 > p:nth-of-type(2) {
              top: 57%;
              right: 25%; }
      #container > #conBox > .container_02 {
        height: 100vh; }
        #container > #conBox > .container_02 > div {
          width: 100%;
          height: 100%; }
          #container > #conBox > .container_02 > div > section {
            width: 50%;
            height: 100%;
            float: left; }
          #container > #conBox > .container_02 > div > .p_main_l {
            background-image: url(../img/wavecut.png);
            background-repeat: repeat;
            transition: all 1s;
            cursor: pointer; }
            #container > #conBox > .container_02 > div > .p_main_l:hover {
              background-color: #9999af;
              background-blend-mode: multiply;
              transition: all 1s; }
              #container > #conBox > .container_02 > div > .p_main_l:hover > div {
                background-color: #638; }
                #container > #conBox > .container_02 > div > .p_main_l:hover > div > h2 {
                  color: #fff;
                  margin-left: 8%; }
                #container > #conBox > .container_02 > div > .p_main_l:hover > div > div {
                  color: #fff;
                  margin-right: 70px; }
            #container > #conBox > .container_02 > div > .p_main_l > div {
              width: 100%;
              height: 18%;
              margin-top: 60%;
              overflow: hidden; }
              #container > #conBox > .container_02 > div > .p_main_l > div > h2 {
                width: 470px;
                height: auto;
                display: block;
                font-size: 4rem;
                line-height: 8.4rem;
                float: left;
                margin-left: calc(100% - 520px);
                transition: all 1s;
                text-align: center; }
              #container > #conBox > .container_02 > div > .p_main_l > div > div {
                width: auto;
                height: 100%;
                font-size: 14rem;
                float: right;
                transition: all 1s;
                line-height: 60%;
                margin-right: -50%; }
          #container > #conBox > .container_02 > div > .p_main_r {
            background-image: url(../img/skulls.png);
            background-repeat: repeat;
            transition: all 1s;
            cursor: pointer; }
            #container > #conBox > .container_02 > div > .p_main_r:hover {
              background-color: #4D4D4F;
              background-blend-mode: color-burn;
              transition: all 1s; }
              #container > #conBox > .container_02 > div > .p_main_r:hover > div {
                background-color: #da6; }
                #container > #conBox > .container_02 > div > .p_main_r:hover > div > h2 {
                  color: #fff;
                  margin-right: 3%; }
                #container > #conBox > .container_02 > div > .p_main_r:hover > div > div {
                  margin-left: 70px;
                  color: #fff; }
            #container > #conBox > .container_02 > div > .p_main_r > div {
              width: 100%;
              height: 18%;
              margin-top: 60%;
              overflow: hidden; }
              #container > #conBox > .container_02 > div > .p_main_r > div > h2 {
                width: 470px;
                height: auto;
                display: block;
                font-size: 4.2rem;
                line-height: 8.4rem;
                float: right;
                margin-right: calc(100% - 470px);
                transition: all 1s;
                text-align: center; }
              #container > #conBox > .container_02 > div > .p_main_r > div > div {
                width: auto;
                height: 100%;
                font-size: 14rem;
                float: left;
                transition: all 1s;
                line-height: 60%;
                margin-left: -50%; }
      #container > #conBox > .container_03 {
        background-color: #4D4D4F;
        background-image: url(../img/skulls.png);
        background-blend-mode: color-burn;
        background-repeat: repeat; }
        #container > #conBox > .container_03 * {
          color: #FFF; }
        #container > #conBox > .container_03 > div > section {
          width: 100vw;
          height: 250vh;
          position: relative; }
          #container > #conBox > .container_03 > div > section > .atc_01 {
            width: 60vw;
            height: 70vh;
            position: absolute;
            top: 20%; }
            #container > #conBox > .container_03 > div > section > .atc_01 > .img {
              width: 100%;
              height: 100%;
              background-attachment: fixed;
              background-size: 60%;
              background-repeat: no-repeat;
              background-position: left center; }
          #container > #conBox > .container_03 > div > section > .atc_02 {
            width: 30vw;
            height: 100%;
            position: absolute;
            top: 20%; }
            #container > #conBox > .container_03 > div > section > .atc_02 > h3 {
              width: auto;
              height: auto;
              position: absolute;
              display: block;
              font-size: 3.2rem; }
            #container > #conBox > .container_03 > div > section > .atc_02 > p {
              width: 13vw;
              height: auto;
              position: absolute;
              line-height: 2.8rem;
              font-size: 1.2rem;
              padding: 20% 5%;
              font-weight: bold;
              border: 13px solid #58D20A; }
        #container > #conBox > .container_03 > div > .sc_01 > .atc_01 {
          top: 8%;
          left: calc(50% - 30vw); }
          #container > #conBox > .container_03 > div > .sc_01 > .atc_01 > .img_01_01 {
            background-image: url(../img/r_sc_00_01.PNG);
            background-position: center 45%; }
          #container > #conBox > .container_03 > div > .sc_01 > .atc_01 > .img_01_02 {
            background-image: url(../img/r_sc_00_02.PNG);
            background-position: center 45%; }
          #container > #conBox > .container_03 > div > .sc_01 > .atc_01 > .img_01_03 {
            background-image: url(../img/r_sc_00_03.PNG);
            background-position: center 45%; }
        #container > #conBox > .container_03 > div > .sc_01 > .atc_02 {
          width: 100%;
          height: 100%;
          background-color: transparent;
          top: 0; }
          #container > #conBox > .container_03 > div > .sc_01 > .atc_02 > h2 {
            height: 80px;
            right: 10%;
            top: 29%;
            color: #222; }
          #container > #conBox > .container_03 > div > .sc_01 > .atc_02 > h3 {
            right: 10%;
            top: 26%;
            background-color: rgba(51, 51, 51, 0.4); }
            #container > #conBox > .container_03 > div > .sc_01 > .atc_02 > h3 > a {
              text-decoration: none;
              color: #222; }
          #container > #conBox > .container_03 > div > .sc_01 > .atc_02 > p {
            padding: 7% 1.5%; }
            #container > #conBox > .container_03 > div > .sc_01 > .atc_02 > p:nth-of-type(1) {
              right: 8%;
              top: 55%; }
            #container > #conBox > .container_03 > div > .sc_01 > .atc_02 > p:nth-of-type(2) {
              right: 30%;
              top: 90%; }
        #container > #conBox > .container_03 > div > .sc_02 > .atc_01 {
          left: 0; }
          #container > #conBox > .container_03 > div > .sc_02 > .atc_01 > .img_02_01 {
            background-image: url(../img/r_sc_01_01.PNG); }
          #container > #conBox > .container_03 > div > .sc_02 > .atc_01 > .img_02_02 {
            background-image: url(../img/r_sc_01_02.PNG); }
          #container > #conBox > .container_03 > div > .sc_02 > .atc_01 > .img_02_03 {
            background-image: url(../img/r_sc_01_03.PNG); }
        #container > #conBox > .container_03 > div > .sc_02 > .atc_02 {
          right: 5%; }
          #container > #conBox > .container_03 > div > .sc_02 > .atc_02 > h3 {
            top: 3%; }
          #container > #conBox > .container_03 > div > .sc_02 > .atc_02 > p:nth-of-type(1) {
            top: 25%;
            left: 45%; }
          #container > #conBox > .container_03 > div > .sc_02 > .atc_02 > p:nth-of-type(2) {
            top: 57%;
            left: 10%; }
        #container > #conBox > .container_03 > div > .sc_03 > .atc_01 {
          right: 0; }
          #container > #conBox > .container_03 > div > .sc_03 > .atc_01 > .img_03_01 {
            background-image: url(../img/r_sc_02_01.PNG);
            background-position: center right; }
          #container > #conBox > .container_03 > div > .sc_03 > .atc_01 > .img_03_02 {
            background-image: url(../img/r_sc_02_02.PNG);
            background-position: center right; }
          #container > #conBox > .container_03 > div > .sc_03 > .atc_01 > .img_03_03 {
            background-image: url(../img/r_sc_02_03.PNG);
            background-position: center right; }
        #container > #conBox > .container_03 > div > .sc_03 > .atc_02 {
          left: 5%; }
          #container > #conBox > .container_03 > div > .sc_03 > .atc_02 > h3 {
            top: 3%;
            right: 0; }
          #container > #conBox > .container_03 > div > .sc_03 > .atc_02 > p:nth-of-type(1) {
            top: 22%; }
          #container > #conBox > .container_03 > div > .sc_03 > .atc_02 > p:nth-of-type(2) {
            top: 53%;
            left: 15%; }
        #container > #conBox > .container_03 > div > .sc_04 {
          height: 150vh; }
          #container > #conBox > .container_03 > div > .sc_04 > .atc_01 {
            left: 0; }
            #container > #conBox > .container_03 > div > .sc_04 > .atc_01 > .img_04_01 {
              background-image: url(../img/r_sc_03_01.PNG); }
            #container > #conBox > .container_03 > div > .sc_04 > .atc_01 > .img_04_02 {
              background-image: url(../img/r_sc_03_02.PNG); }
          #container > #conBox > .container_03 > div > .sc_04 > .atc_02 {
            right: 5%; }
            #container > #conBox > .container_03 > div > .sc_04 > .atc_02 > h3 {
              top: 0; }
            #container > #conBox > .container_03 > div > .sc_04 > .atc_02 > p {
              top: 40%;
              left: 30%; }
        #container > #conBox > .container_03 > div > .sc_05 {
          height: 150vh; }
          #container > #conBox > .container_03 > div > .sc_05 > .atc_01 {
            right: 0; }
            #container > #conBox > .container_03 > div > .sc_05 > .atc_01 > .img_05_01 {
              background-image: url(../img/r_sc_04_01.PNG);
              background-position: center right; }
            #container > #conBox > .container_03 > div > .sc_05 > .atc_01 > .img_05_02 {
              background-image: url(../img/r_sc_04_02.PNG);
              background-position: center right; }
          #container > #conBox > .container_03 > div > .sc_05 > .atc_02 {
            left: 5%; }
            #container > #conBox > .container_03 > div > .sc_05 > .atc_02 > h3 {
              top: 3%;
              left: 10%; }
            #container > #conBox > .container_03 > div > .sc_05 > .atc_02 > p:nth-of-type(1) {
              top: 15%;
              right: 0; }
            #container > #conBox > .container_03 > div > .sc_05 > .atc_02 > p:nth-of-type(2) {
              top: 57%;
              right: 25%; }
        #container > #conBox > .container_03 > div > .sc_06 > .atc_01 {
          left: 0; }
          #container > #conBox > .container_03 > div > .sc_06 > .atc_01 > .img_06_01 {
            background-image: url(../img/r_sc_05_01.PNG); }
          #container > #conBox > .container_03 > div > .sc_06 > .atc_01 > .img_06_02 {
            background-image: url(../img/r_sc_05_02.PNG); }
        #container > #conBox > .container_03 > div > .sc_06 > .atc_02 {
          right: 5%; }
          #container > #conBox > .container_03 > div > .sc_06 > .atc_02 > h3 {
            top: 3%; }
          #container > #conBox > .container_03 > div > .sc_06 > .atc_02 > p:nth-of-type(1) {
            top: 10%;
            right: 7%; }
          #container > #conBox > .container_03 > div > .sc_06 > .atc_02 > p:nth-of-type(2) {
            top: 37%;
            right: 35%; } }

/*# sourceMappingURL=portfolio.css.map */
